:root {
  --primary-color: #662eed;
  --secondary-color: #272142;
  --primary-font-family: "Nunito", sans-serif;
}

.navbar {
  padding: 35px 50px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.navbar ul li a {
  margin-right: 30px;
  color: var(--secondary-color);
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar .active {
  color: var(--primary-color) !important;
}
