:root {
  --primary-color: #662eed;
  --secondary-color: #272142;
  --primary-font-family: "Nunito", sans-serif;
}

.navbar {
  padding: 35px 50px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.navbar ul li a {
  margin-right: 30px;
  color: var(--secondary-color);
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar .active {
  color: var(--primary-color) !important;
}
.home .container {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  color: white;
}
.home h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}
.home p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  padding-top: 10px;
}
.home .banner {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cards .recipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 450px;

  /* height: 408px; */
  /* margin: 20px; */
}
.cards span {
  width: 40px;
}
.cards .recipe img {
  width: 450px;
}
.cards .row {
  margin: 0;
}
.home h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: var(--secondary-color);
}
footer {
  position: absolute;
  width: 100%;
  height: 100px;
  background: #f9f7fe;
  margin-top: 100px;
  padding: 35px 50px;
}
footer img {
  width: 20px;
}
footer a {
  text-decoration: none;
  margin: 10px;
}
footer h6 {
  font-weight: 300;
}
.about img {
  width: 360px;
  margin-right: 50px;
}
.about .info {
  margin: 100px auto 100px;
}
.about h1 {
  color: var(--secondary-color);
}
.about h3 {
  font-size: 54px;
  line-height: 87px;
  color: var(--secondary-color);
}
.about p {
  padding-right: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-color);
}
.about .social img {
  width: 18px;
}
.social {
  margin-top: 50px;
}
.about .social a {
  text-decoration: none;
}
.about .bio {
  vertical-align: middle;
}
.about h4 {
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}
.about #follow {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-color);
  padding-right: 30px;
}
#icons a {
  padding-right: 30px;
}
.about .favorite img {
  width: 320px;
}
.about .favorite h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.about .favorite p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-color);
  padding: 0;
  width: 320px;
}
.about .favorite .col-lg-3 {
  margin: 40px;
}
.about h1 {
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--secondary-color);
}
.recipe h1 {
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--secondary-color);
}
.recipe .row .col-12 {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.recipe img {
  width: 760px;
}
.recipe h3 {
  margin: 40px 0;
}

@media (max-width: 1024px) {
  .home h1 {
    font-size: 24px;
    top: 20%;
    line-height: 38px;
    padding-bottom: 15px;
  }
  .home p {
    font-size: 12px;
    line-height: 20px;
    top: 40%;
  }
  .navbar {
    padding: 15px 50px;
  }
  .cards .recipe {
    align-items: center;
  }
  .cards .recipe img {
    width: 260px;
  }
  .home h3 {
    font-size: 14px;
  }
  .cards span {
    width: 0;
  }
  footer {
    text-align: center;
    height: 200px;
  }
  footer h4,
  h6 {
    padding: 20px;
  }
  .about h1 {
    font-size: 38px;
    text-align: center;
  }
  .about .info {
    text-align: center;
    margin: 50px auto;
  }
  .about h3 {
    font-size: 34px;
    line-height: 87px;
  }
  .about p {
    padding: 0;
  }
}
@media (max-width: 360px) {
  .home h1 {
    font-size: 16px;
  }
  .home p {
    font-size: 12px;
  }
  .about img {
    width: 260px;
    margin-right: 0;
  }
  .about .favorite img {
    width: 260px;
  }
  .about .favorite .col-lg-3 {
    margin: 10px auto;
    text-align: center;
  }
}
